.logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.text {
  color: var(--color-black-black);
  font-weight: 700;
  line-height: 140%;
}
.companies {
  align-items: center !important;
}
@media (min-width: 300px) and (max-width: 580px) {
  .logo {
    width: 20px;
    height: 20px;
  }
  .text {
    font-size: 14px;
    font-weight: 400;
  }
}
