.modal {
  box-sizing: border-box;
  width: 380px;
  height: 208px;
}

.header {
  line-height: 140%;
  border-bottom: 1px solid var(--color-grey-200) ;
}
.container {
  gap: 16px;
  justify-content: flex-start;
  padding-top: 16px;
}
.title {
  color: var(--color-black-black);
  font-weight: 700;
  line-height: 140%;
}
.button {
  color: var(--color-white);
  font-weight: 600;
  line-height: 140%;
  border-radius: 8px;
  padding: 10px 20px;
  background-color: var(--color-purple-500);
  &:hover {
    background-color: var(--color-purple-400);
  }
  &:active {
    background-color: var(--color-purple-600);
  }
}
.stars {
  gap: 5px
}
.reset {
  padding: 5px 0;
  background: none;
  color: var(--color-purple-500);
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  &:hover {
    background: none;
    color: var(--color-purple-400);
  }
  &:active {
    background: none;
    color: var(--color-purple-600);
  }
  &:disabled {
    color: var(--color-grey-600);
  }
}
.buttons {
  gap: 16px;
}

