.extra {
  border-radius: 12px;
  background: var(--color-white);
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
@media (min-width: 300px) and (max-width: 580px) {
 .extra{
   padding: 10px;
 }
}

