.breadcrums {
  color: var(--color-purple-500);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
   line-height: 20px;
}
.container {
  margin-top: 5px;
  color: var(--color-purple-500);
}
